:root {
  --joystick-width: 18vh;
}
.handle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: calc(var(--joystick-width) * 0.4);
  height: calc(var(--joystick-width) / 4);
  border-radius: 5%;
  background: linear-gradient(#252525 3%, #e5e5e5 60%, #252525 100%);
}
.track {
  background-color: black;
  height: calc(var(--joystick-width) * 0.8);
  width: calc(var(--joystick-width) / 40);
  border-radius: calc(var(--joystick-width) / 12);
  border: 1px solid #787878;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.plus,
.minus{
  color: black;
  width: calc(var(--joystick-width) / 4);
  font-weight: bolder;
  position: absolute;
  right: 15%;
	font-size: calc(var(--joystick-width) / 5);
}
.minus {
  bottom: 5%;
}
.base {
  background-color: #b1b1b1;
  height: var(--joystick-width);
  border-radius: 50%;
  border: 1px solid #7a7a7a;
	border-radius: 0;
	width: calc(var(--joystick-width) * 0.5);
	margin: 3px;
	margin-left: calc(var(--joystick-width) * 0.25);
	margin-right: calc(var(--joystick-width) * 0.25);
}
.leftright.base {
  border-radius: 0;
  width: calc(var(--joystick-width) * 0.5);
  transform: translateX(50%) rotate(90deg);
}
.joystick-container {
  width: var(--joystick-width);
  height: var(--joystick-width);
  position: relative;
  overflow: hidden;
  user-select: none;
}
